@font-face{
  font-family: "RickAndMortyFont";
  src: url("./assets/fonts/Creepster-Regular.ttf") format("truetype");
}
@font-face{
  font-family: "RickAndMortyFontTrue";
  src: url("./assets/fonts/get_schwifty.ttf") format("truetype");
}

body, #root {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background:linear-gradient(to bottom, #1d0101, #4c004c);
}